.jockline{padding: 2rem;
width: 50%;
margin: auto;}

.jockline .jock{
    margin-bottom: 3rem;
}

.jockline .jock .jock__heading{
    margin-bottom: 0.7rem;
    font-size: 1.6rem;
    color: orangered;
}

.jockline .jock  .jock__paragraph p{
    font-size: 1.3rem;
    color: goldenrod;
}
.jockline .jock .jock__button{
    margin-top: 2rem;
}
.jockline .jock .jock__button button{
    border:none;
    outline:none;
    padding: .5rem 1.5rem;
    background: blueviolet;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;  
    cursor: pointer;
}