*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html{
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body{
  background: #eee;
}
p,
h3,
h4,
h2{
  margin-bottom: 0;
}